<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} :: Salmon</title>
        <link rel="stylesheet" href="{{ static('/css/main.css') }}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ static('/images/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static('/images/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static('/images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static('/images/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ static('/images/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ static('/images/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ static('/images/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ static('/images/apple-touch-icon-152x152.png') }}">
        <link rel="icon" type="image/png" sizes="196x196" href="{{ static('/images/favicon-196x196.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ static('/images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ static('/images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ static('/images/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="128x128" href="{{ static('/images/favicon-128.png') }}">
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF') }}">
        <meta name="msapplication-TileImage" content="{{ static('/images/mstile-144x144.png') }}">
        <meta name="msapplication-square70x70logo" content="{{ static('/images/mstile-70x70.png') }}">
        <meta name="msapplication-square150x150logo" content="{{ static('/images/mstile-150x150.png') }}">
        <meta name="msapplication-wide310x150logo" content="{{ static('/images/mstile-310x150.png') }}">
        <meta name="msapplication-square310x310logo" content="{{ static('/images/mstile-310x310.png') }}">
        </style>
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="{{ static('/images/logo.png') }}">
            </div>
        </header>
        <div class="headerbg"></div>

        <div style="display: none">
            <span id="static_dir">{{ static('') }}</span>
        </div>

        <div class="body">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            smoked salmon~~ upload away</br>
            <div>
                Salmon logo made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                                  title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </footer>
    </body>
</html>
